.form {
  display: flex;
  flex-direction: column; /* Alt alta hizalama */
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.label {
  font-weight: bold;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0f7fa;
  width: 100%; /* Tam genişlik */
}

.error {
  color: #ff5252;
  font-size: 12px;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button:hover {
  background-color: #819682;
}
